# Data processing
## Exercises

In [2]:
import pandas as pd
from pandas import read_csv, read_excel
import numpy as np

### 9.5
1. The file SNP_20.csv contains three columns of data, the date, the return on the S&P 500, and the return on XOM (ExxonMobil). Using pandas, convert the date to YYYYMMDD format and save the file in .xlsx format.

In [4]:
csv_data = read_csv('SNP_20.csv')
csv_data_val = csv_data.values
csv_data_val[:4]

array([['2001-01-08', 1298.349976, 1298.349976, 1276.290039, 1295.859985,
        1295.859985, 1115500000],
       ['2001-01-09', 1295.859985, 1311.719971, 1295.140015, 1300.800049,
        1300.800049, 1191300000],
       ['2001-01-10', 1300.800049, 1313.76001, 1287.280029, 1313.27002,
        1313.27002, 1296500000],
       ['2001-01-11', 1313.27002, 1332.189941, 1309.719971, 1326.819946,
        1326.819946, 1411200000]], dtype=object)

In [44]:
type(csv_data)

pandas.core.frame.DataFrame

In [45]:
type(csv_data_val)

numpy.ndarray

In [46]:
csv_data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [48]:
csv_data.select_dtypes('object', ['int', 'float'])

            Date
0     2001-01-08
1     2001-01-09
2     2001-01-10
3     2001-01-11
4     2001-01-12
...          ...
5025  2020-12-29
5026  2020-12-30
5027  2020-12-31
5028  2021-01-04
5029  2021-01-05

[5030 rows x 1 columns]

In [15]:
new_dates = csv_data_val[:,0].copy()

In [13]:
csv_data['Date'].values

array(['2001-01-08', '2001-01-09', '2001-01-10', ..., '2020-12-31',
       '2021-01-04', '2021-01-05'], dtype=object)

In [16]:
for i, s in enumerate(new_dates):
    new_dates[i] = int(s[:4]+s[5:7]+s[8:10])

In [19]:
new_dates.astype(int)

array([20010108, 20010109, 20010110, ..., 20201231, 20210104, 20210105])

In [20]:
csv_data['Date'] = new_dates.astype(int).copy()

In [21]:
csv_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,20010108,1298.349976,1298.349976,1276.290039,1295.859985,1295.859985,1115500000
1,20010109,1295.859985,1311.719971,1295.140015,1300.800049,1300.800049,1191300000
2,20010110,1300.800049,1313.760010,1287.280029,1313.270020,1313.270020,1296500000
3,20010111,1313.270020,1332.189941,1309.719971,1326.819946,1326.819946,1411200000
4,20010112,1326.819946,1333.209961,1311.589966,1318.550049,1318.550049,1276000000
...,...,...,...,...,...,...,...
5025,20201229,3750.010010,3756.120117,3723.310059,3727.040039,3727.040039,3387030000
5026,20201230,3736.189941,3744.629883,3730.209961,3732.040039,3732.040039,3145200000
5027,20201231,3733.270020,3760.199951,3726.879883,3756.070068,3756.070068,3172510000
5028,20210104,3764.610107,3769.989990,3662.709961,3700.649902,3700.649902,5006680000
5029,20210105,3698.020020,3737.830078,3695.070068,3726.860107,3726.860107,4582620000

In [22]:
csv_data.values[:4]

array([[2.00101080e+07, 1.29834998e+03, 1.29834998e+03, 1.27629004e+03,
        1.29585999e+03, 1.29585999e+03, 1.11550000e+09],
       [2.00101090e+07, 1.29585999e+03, 1.31171997e+03, 1.29514001e+03,
        1.30080005e+03, 1.30080005e+03, 1.19130000e+09],
       [2.00101100e+07, 1.30080005e+03, 1.31376001e+03, 1.28728003e+03,
        1.31327002e+03, 1.31327002e+03, 1.29650000e+09],
       [2.00101110e+07, 1.31327002e+03, 1.33218994e+03, 1.30971997e+03,
        1.32681995e+03, 1.32681995e+03, 1.41120000e+09]])

In [25]:
csv_data.to_excel('SNP_20.xlsx')