# Data processing
## Exercises

In [1]:
import pandas as pd
from pandas import read_csv, read_excel
import numpy as np

### 9.5
1. The file SNP_20.csv contains three columns of data, the date, the return on the S&P 500, and the return on XOM (ExxonMobil). Using pandas, convert the date to YYYYMMDD format and save the file in .xlsx format.

In [2]:
csv_data = read_csv('SNP_20.csv')
csv_data_val = csv_data.values
csv_data_val[:4]

array([['2001-01-08', 1298.349976, 1298.349976, 1276.290039, 1295.859985,
        1295.859985, 1115500000],
       ['2001-01-09', 1295.859985, 1311.719971, 1295.140015, 1300.800049,
        1300.800049, 1191300000],
       ['2001-01-10', 1300.800049, 1313.76001, 1287.280029, 1313.27002,
        1313.27002, 1296500000],
       ['2001-01-11', 1313.27002, 1332.189941, 1309.719971, 1326.819946,
        1326.819946, 1411200000]], dtype=object)

In [3]:
type(csv_data)

pandas.core.frame.DataFrame

In [4]:
type(csv_data_val)

numpy.ndarray

In [5]:
csv_data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [6]:
csv_data.select_dtypes('object', ['int', 'float'])

            Date
0     2001-01-08
1     2001-01-09
2     2001-01-10
3     2001-01-11
4     2001-01-12
...          ...
5025  2020-12-29
5026  2020-12-30
5027  2020-12-31
5028  2021-01-04
5029  2021-01-05

[5030 rows x 1 columns]

In [7]:
new_dates = csv_data_val[:,0].copy()

In [8]:
csv_data['Date'].values

array(['2001-01-08', '2001-01-09', '2001-01-10', ..., '2020-12-31',
       '2021-01-04', '2021-01-05'], dtype=object)

In [9]:
csv_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2001-01-08,1298.349976,1298.349976,1276.290039,1295.859985,1295.859985,1115500000
1,2001-01-09,1295.859985,1311.719971,1295.140015,1300.800049,1300.800049,1191300000
2,2001-01-10,1300.800049,1313.760010,1287.280029,1313.270020,1313.270020,1296500000
3,2001-01-11,1313.270020,1332.189941,1309.719971,1326.819946,1326.819946,1411200000
4,2001-01-12,1326.819946,1333.209961,1311.589966,1318.550049,1318.550049,1276000000
...,...,...,...,...,...,...,...
5025,2020-12-29,3750.010010,3756.120117,3723.310059,3727.040039,3727.040039,3387030000
5026,2020-12-30,3736.189941,3744.629883,3730.209961,3732.040039,3732.040039,3145200000
5027,2020-12-31,3733.270020,3760.199951,3726.879883,3756.070068,3756.070068,3172510000
5028,2021-01-04,3764.610107,3769.989990,3662.709961,3700.649902,3700.649902,5006680000
5029,2021-01-05,3698.020020,3737.830078,3695.070068,3726.860107,3726.860107,4582620000

In [16]:
for i, s in enumerate(new_dates):
    new_dates[i] = int(s[:4]+s[5:7]+s[8:10])

In [19]:
new_dates.astype(int)

array([20010108, 20010109, 20010110, ..., 20201231, 20210104, 20210105])

In [20]:
csv_data['Date'] = new_dates.astype(int).copy()

In [21]:
csv_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,20010108,1298.349976,1298.349976,1276.290039,1295.859985,1295.859985,1115500000
1,20010109,1295.859985,1311.719971,1295.140015,1300.800049,1300.800049,1191300000
2,20010110,1300.800049,1313.760010,1287.280029,1313.270020,1313.270020,1296500000
3,20010111,1313.270020,1332.189941,1309.719971,1326.819946,1326.819946,1411200000
4,20010112,1326.819946,1333.209961,1311.589966,1318.550049,1318.550049,1276000000
...,...,...,...,...,...,...,...
5025,20201229,3750.010010,3756.120117,3723.310059,3727.040039,3727.040039,3387030000
5026,20201230,3736.189941,3744.629883,3730.209961,3732.040039,3732.040039,3145200000
5027,20201231,3733.270020,3760.199951,3726.879883,3756.070068,3756.070068,3172510000
5028,20210104,3764.610107,3769.989990,3662.709961,3700.649902,3700.649902,5006680000
5029,20210105,3698.020020,3737.830078,3695.070068,3726.860107,3726.860107,4582620000

In [22]:
csv_data.values[:4]

array([[2.00101080e+07, 1.29834998e+03, 1.29834998e+03, 1.27629004e+03,
        1.29585999e+03, 1.29585999e+03, 1.11550000e+09],
       [2.00101090e+07, 1.29585999e+03, 1.31171997e+03, 1.29514001e+03,
        1.30080005e+03, 1.30080005e+03, 1.19130000e+09],
       [2.00101100e+07, 1.30080005e+03, 1.31376001e+03, 1.28728003e+03,
        1.31327002e+03, 1.31327002e+03, 1.29650000e+09],
       [2.00101110e+07, 1.31327002e+03, 1.33218994e+03, 1.30971997e+03,
        1.32681995e+03, 1.32681995e+03, 1.41120000e+09]])

In [24]:
csv_data.astype(float)

,Date,Open,High,Low,Close,Adj Close,Volume
0,20010108.0,1298.349976,1298.349976,1276.290039,1295.859985,1295.859985,1.115500e+09
1,20010109.0,1295.859985,1311.719971,1295.140015,1300.800049,1300.800049,1.191300e+09
2,20010110.0,1300.800049,1313.760010,1287.280029,1313.270020,1313.270020,1.296500e+09
3,20010111.0,1313.270020,1332.189941,1309.719971,1326.819946,1326.819946,1.411200e+09
4,20010112.0,1326.819946,1333.209961,1311.589966,1318.550049,1318.550049,1.276000e+09
...,...,...,...,...,...,...,...
5025,20201229.0,3750.010010,3756.120117,3723.310059,3727.040039,3727.040039,3.387030e+09
5026,20201230.0,3736.189941,3744.629883,3730.209961,3732.040039,3732.040039,3.145200e+09
5027,20201231.0,3733.270020,3760.199951,3726.879883,3756.070068,3756.070068,3.172510e+09
5028,20210104.0,3764.610107,3769.989990,3662.709961,3700.649902,3700.649902,5.006680e+09
5029,20210105.0,3698.020020,3737.830078,3695.070068,3726.860107,3726.860107,4.582620e+09

In [25]:
csv_data.to_excel('SNP_20.xlsx')

### 11.5
1. Using the data file created in Chapter 9, count the number of negative returns in both the S&P 500 and ExxonMobil.

In [21]:
ex3_data = read_excel('exercise3.xls')

In [22]:
ex3_data

           Date       XOM     SP500
0    1991-01-03  0.005806 -0.014005
1    1991-01-04  0.010079 -0.002831
2    1991-01-07 -0.012978 -0.017473
3    1991-01-08 -0.002907 -0.001713
4    1991-01-09 -0.016141 -0.010888
...         ...       ...       ...
5036 2010-12-27 -0.002675  0.000612
5037 2010-12-28  0.005624  0.000771
5038 2010-12-29 -0.000701  0.001009
5039 2010-12-30 -0.000140 -0.001509
5040 2010-12-31 -0.003232 -0.000191

[5041 rows x 3 columns]

In [80]:
s = 0
for i in ex3_data['XOM'].values:
    if i<0:
        s += 1

In [81]:
s

2346

In [25]:
print("Number of negative returns in ExxonMobil:", (ex3_data['XOM']<0).sum())

Number of negative returns in ExxonMobil: 2346

In [27]:
?np.count_nonzero

In [28]:
print("Number of negative returns in S&P 500:", (ex3_data['SP500']<0).sum())

Number of negative returns in S&P 500: 2360

2. For both series, create an indicator variable that takes the value 1 if the return is larger than 2 standard deviations or smaller than -2 standard deviations. What is the average return conditional on falling each range for both returns?

In [30]:
(ex3_data['XOM']<0)

0       False
1       False
2        True
3        True
4        True
        ...
5036     True
5037    False
5038     True
5039     True
5040     True
Name: XOM, Length: 5041, dtype: bool

In [32]:
ex3_data['XOM'].values.std()

0.015517896103013018

In [49]:
np.std(ex3_data['XOM'].values)

0.015517896103013018

In [51]:
# this does not work:
(ex3_data['XOM'] < -2*ex3_data['XOM'].std()) or (ex3_data['XOM']>2*ex3_data['XOM'].std())

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [17]:
XOM_index_1 = (ex3_data['XOM']<-2*np.std(ex3_data['XOM']))|(ex3_data['XOM']>2*np.std(ex3_data['XOM']))

In [18]:
XOM_index_1_alt = np.logical_or(ex3_data['XOM']<-2*np.std(ex3_data['XOM']),ex3_data['XOM']>2*np.std(ex3_data['XOM']))

In [19]:
XOM_index_1

0       False
1       False
2       False
3       False
4       False
        ...
5036    False
5037    False
5038    False
5039    False
5040    False
Name: XOM, Length: 5041, dtype: bool

In [20]:
np.all(XOM_index_1_alt==XOM_index_1)

True

In [52]:
ex3_data['XOM_index_1'] = XOM_index_1.astype('int')

In [53]:
SP_index_1 = (ex3_data['SP500']<-2*np.std(ex3_data['SP500']))|(ex3_data['SP500']>2*np.std(ex3_data['SP500']))
ex3_data['SP500_index_1'] = SP_index_1.astype('int')

In [54]:
ex3_data

           Date       XOM     SP500  XOM_index_1  SP500_index_1
0    1991-01-03  0.005806 -0.014005            0              0
1    1991-01-04  0.010079 -0.002831            0              0
2    1991-01-07 -0.012978 -0.017473            0              0
3    1991-01-08 -0.002907 -0.001713            0              0
4    1991-01-09 -0.016141 -0.010888            0              0
...         ...       ...       ...          ...            ...
5036 2010-12-27 -0.002675  0.000612            0              0
5037 2010-12-28  0.005624  0.000771            0              0
5038 2010-12-29 -0.000701  0.001009            0              0
5039 2010-12-30 -0.000140 -0.001509            0              0
5040 2010-12-31 -0.003232 -0.000191            0              0

[5041 rows x 5 columns]

In [56]:
(ex3_data['SP500_index_1']).sum()

251

In [57]:
# global average:
(ex3_data['SP500']).mean()

0.00026754918273204847

In [58]:
# conditional average:
(ex3_data['SP500'][ex3_data['SP500_index_1']]).mean()

-0.013448425997979973

In [103]:
# global average:
np.mean(ex3_data['XOM'])

0.00046341578901996764

In [104]:
# conditional average:
np.mean(ex3_data['XOM'][ex3_data['XOM_index_1']])

0.0059979815891627545

3. Construct an indicator variable that takes the value of 1 when both returns are negative. Compute the correlation of the returns conditional on this indicator variable. How does this compare to the correlation of all returns?

In [35]:
ex3_data['XOM'].corr(ex3_data['SP500'])

0.5922574835376295

In [37]:
both_neg = (ex3_data['XOM'] < 0)&(ex3_data['SP500'] < 0)

In [38]:
ex3_data['XOM'][both_neg].corr(ex3_data['SP500'][both_neg])

0.6197983502798635

4. What is the correlation when at least 1 of the returns is negative?

In [42]:
at_least_1_neg = (ex3_data['XOM'] < 0)|(ex3_data['SP500'] < 0)

In [43]:
ex3_data['XOM'][at_least_1_neg].corr(ex3_data['SP500'][at_least_1_neg])

0.32016640555151027

5. What is the relationship between all and any? Write down a logical expression that allows one or the other to be avoided (i.e. write def myany(x) and def myall(y) ).

In [119]:
def myany(x):
    return bool(1-np.all(x==0))

In [59]:
x = [4, 0, -4, -7, 5]
x = np.array(x)<0
np.any(x)

True

In [121]:
myany(x)

True

In [124]:
y=np.array([7,5,9,3])<0
np.any(y)

False

In [125]:
myany(y)

False

In [126]:
def myall(x):
    return bool(1-np.any(x==0))

In [128]:
np.all(x)

False

In [129]:
myall(x)

False

In [130]:
z = np.array([7,5,9,3])>0
np.all(z)

True

In [131]:
myall(z)

True